<h1>Filters</h1>

<p>...................................................Array......................................................</p>

{% assign name = "Ishan, Manoj, Gaurav, Sneha, Rahul, Mahima, Akansha" %}
{% assign age = "11, 29, 37, 24, 25, 26, 17" %}

{% assign result = name | concat: age  %}

{% for item in result %}
    {{ item }}
{% endfor %}

{% schema %}
  {
    "name": "Filters Liquid",
    "settings": [
      {
        "type": "text",
        "id": "filters-liq",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Filters Liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}