<h1>Filters</h1>

<p>...................................................Array......................................................</p>
<p>...................................................concat......................................................</p>
{% assign name = 'Ritik, Akku, Ral, Mahi, Saleha' | split: ", " %}
{% assign age = '23, 17, 29, 24, 26' | split: ", " %}

{% assign result = name | concat: age %}

{% for item in result %}
    <li>{{ item }}</li>
{% endfor %}
<p>...................................................first......................................................</p>
{% assign first_product = collections.products | first %}
 
{{ first_product }}




{% schema %}
  {
    "name": "Filters Liquid",
    "settings": [
      {
        "type": "text",
        "id": "filters-liq",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Filters Liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}