<h1>Filters</h1>

<p>...................................................Array......................................................</p>

{% assign name = 'Ritik, Akku, Ral, Mahi, Saleha' | split: ", " %}
{% assign age = '23, 17, 29, 24, 26' | split: ", " %}

{% assign result = name | concat: age %}

<P>{{ result  }}</P>




{% schema %}
  {
    "name": "Filters Liquid",
    "settings": [
      {
        "type": "text",
        "id": "filters-liq",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Filters Liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}