<h1>Filters</h1>

<p>...................................................Array......................................................</p>

{% liquid
    assign name = "Rahul, Mahima, Akku, Ritik"
    assign age = "29, 24, 17, 23"
    assign result = name | concat: age
%}
{% for item in result %}
    {{ item }}
{% endfor %}


{% schema %}
  {
    "name": "Filters Liquid",
    "settings": [
      {
        "type": "text",
        "id": "filters-liq",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Filters Liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}