{% for block in section.blocks %}
    <div class="image-column">
      <img src="{{ block.settings.image_1 | img_url: 'medium' }}" alt="Image 1">
    </div>
  {% endfor %}

{% schema %}
    {
      "name": "3 Column Image Section",
      "settings": [],
      "blocks": [
        {
          "type": "image",
          "name": "Column 1",
          "settings": [
            {
              "type": "image_picker",
              "label": "Image",
              "id": "image_1"
            }
          ]
        },
        {
          "type": "image",
          "name": "Column 2",
          "settings": [
            {
              "type": "image_picker",
              "label": "Image",
              "id": "image_2"
            }
          ]
        },
        {
          "type": "image",
          "name": "Column 3",
          "settings": [
            {
              "type": "image_picker",
              "label": "Image",
              "id": "image_3"
            }
          ]
        }
      ]
    }
    {% endschema %}