<h1>Iteration Tags</h1>

{% for product in collection.products limit: 1 %}
  {{ product.title }}
{% else %}
  No products!
{% endfor %}



{% schema %}
  {
    "name": "Iteration liquid",
    "settings": [
      {
        "id": "iterat-liq",
        "type": "text",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Iteration liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}