<h1>Iteration Tags</h1>

{% for product in collection.products limit: 1 %}
   <h1>{{ product.title }}</h1>
{% else %}
  No products!
{% endfor %}
{% for product in collection.products %}
    <h1>{{ product.first_available_variant }}</h1>
    
{% endfor %}


{% schema %}
  {
    "name": "Iteration liquid",
    "settings": [
      {
        "id": "iterat-liq",
        "type": "text",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Iteration liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}