<h1>Does it works???</h1>

{% schema %}
    {
        "name": "Iteration liquid",
        "settings": [
            {
                "type": "text",
                "id": "iteration-liq",
                "label": "Add Your Text"
            }
        ],
        "presets": [
            {
                "name": "Iteration liquid",
                "category": "Reference"
            }
        ]
    }
{% endschema %}