<h1>Does this works?</h1>

{% schema %}
  {
    "name": "Liquid Objects",
    "settings": [
      {
        "id": "liq-obj",
        "type": "text",
        "label": "Add your text"
      }
    ],
    "presets": [
      {
        "name": "Liquid Objects",
        "category": "Reference"
      }
    ]
  }
{% endschema %}